<!-- MASTER TEMPLATE-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../../static/dependancies/jquery-1.11.0.min.js"></script>
  <script src="../../static/dependancies/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../static/stylesheets/iconmonstr-iconic-font.min.css">
  <script src="../../static/dependancies/popper.min.js"></script> 

  <title>Sanofi Pastuer +QDCI Dashboard</title>
</head>
<body>
  <section class="section h-100">
          <!-- MASTER APP -->
          <div id="app" class="columns h-100"><!-- React --></div>
          {% load static %}
  </section>
</body>
{% load static %}
<script src="{% static "frontend/vendors~main.main.js" %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<link rel="stylesheet" href="../../static/stylesheets/style.css">
</html>