<!-- MASTER TEMPLATE-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="../../static/dependancies/jquery-1.11.0.min.js"></script>
  <script src="../../static/dependancies/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../static/stylesheets/iconmonstr-iconic-font.min.css">
  <script src="../../static/dependancies/popper.min.js"></script> 

  <title>Sanofi Pasteur +QDCI Dashboard</title>
</head>
<body>
      <!-- MASTER APP -->
      <div id="app" style="min-height: fit-content; height:100%"><!-- React --></div>
      {% load static %}

</body>
{% load static %}
<script src="{% static "frontend/vendors~main.main.js" %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<link rel="stylesheet" href="../../static/stylesheets/style.css">
</html>